<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>CryptoVerse</h1>
    <ul>
        <li><a href="/login/">Вход</a></li>
        <li><a href="/active-last-24h/">Активные пользователи за 24ч</a></li>
        <li><a href="/non-admin-users/">Не администраторы</a></li>
        <li><a href="/recent-transactions/">Последние транзакции</a></li>
        <li><a href="/promotion/1/url/">URL акции 1</a></li>
        <li><a href="/promotions/1/">Страница акции 1</a></li>
        <li><a href="/order-transactions/1/">Получаем все транзакции</a></li>
    </ul>
</body>
</html>
